<!doctype html>
<html>

<head>
	<!--[if lt IE 9]>
	    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Press+Start+2P">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="timecircles/inc/TimeCircles.css">
	<link rel="stylesheet" href="main.css">
	<title>Cusor Game</title>
</head>
<body>

<!-- Modal -->
	<div class="modal fade" id="finished" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="font-family: 'Press Start 2P', serif;">
		<div class="modal-dialog">
			<div class="modal-content instructions">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel" style="font-family: 'Press Start 2P', serif;">Game Over</h4>
				</div>
					<div id="modal-body" class="modal-body" font-family: 'Press Start 2P', serif;></div>
				<div class="modal-footer">
					<button class="btn btn-success highscore">High Scores</button>
					<button type="button" class="btn btn-default log_out" class="btn btn-default" data-dismiss="modal">Log Out</button>
					<button type="button" id="new_game" class="btn btn-primary">New Game</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="highscore_table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="font-family: 'Press Start 2P', serif;">
		<div class="modal-dialog">
			<div class="modal-content instructions">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel" style="font-family: 'Press Start 2P', serif;">Top Ten High Scores</h4>
				</div>
				<div id="modal-body" class="modal-body" font-family: 'Press Start 2P', serif;>
					<div class="table-responsive">
					    <table class="table table-bordered table-striped bs-events-table">
					      <thead>
					       <tr>
					         <th>Rank</th>
					         <th>User</th>
					         <th>Score</th>
					       </tr>
					      </thead>
						<tbody id="high_score_list">
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>2</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>3</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>5</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>6</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>7</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>8</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>9</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>10</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					    </table>
			  		</div>
			  		<button type="button" class="btn btn-default log_out" class="btn btn-default" data-dismiss="modal">Log Out</button>
			  		<button onclick="window.location.href = '/cursor_game';" class="btn btn-primary ">New Game</button>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default log_out" class="btn btn-default" data-dismiss="modal">Log Out</button>
					<button type="button" id="new_game" class="btn btn-primary">New Game!</button>
				</div>
			</div>
		</div>
	</div>
	<div id="game_board">
		<div class="game_timer_cont instructions" style="color:#fff;">
			<h3 class="header_shaddow">Time Left</h1>
			<div class="game_timer" data-timer="5"></div>	
			<h3 class="header_shaddow">Score</h3>
			<p id="score">0</p>
			<button class="btn btn-default log_out center_button">Log Out</button>
			<button class="btn btn-success center_button highscore">High Scores</button>

		</div>

		<div class="asteroid" id="a1"></div>
		<div class="asteroid" id="a2"></div>
		<div class="asteroid" id="a3"></div>
		<div class="asteroid" id="a4"></div>
		<div class="asteroid" id="a5"></div>
		<div class="asteroid" id="a6"></div>
		<div class="asteroid" id="a7"></div>
		<div class="asteroid" id="a8"></div>
		<div class="asteroid" id="a9"></div>
		<div class="asteroid" id="a10"></div>

		<div id="0" class="player enemy red"></div>
		<div id="1" class="player enemy green"></div>
		<div id="2" class="player enemy purple"></div>
		<div id="3" class="player enemy red"></div>
		<div id="4" class="player enemy green"></div>
		<div id="5" class="player enemy purple"></div>
		<div id="6" class="player enemy red"></div>
		<div id="7" class="player enemy green"></div>
		<div id="8" class="player enemy purple"></div>
		<div id="9" class="player enemy red"></div>
		<div id="10" class="player enemy green"></div>
		<div id="11" class="player enemy purple"></div>
		<div id="12" class="player enemy red"></div>
		<div id="13" class="player enemy green"></div>
		<div id="14" class="player enemy purple"></div>
		<div id="15" class="player enemy red"></div>
		<div id="16" class="player enemy green"></div>
		<div id="17" class="player enemy purple"></div>
		<div id="18" class="player enemy red"></div>
		<div id="19" class="player enemy green"></div>
		<div id="20" class="player enemy purple"></div>
		<div id="21" class="player enemy red"></div>
		<div id="22" class="player enemy red"></div>
		<div id="23" class="player enemy green"></div>
		<div id="24" class="player enemy purple"></div>
		<div id="25" class="player enemy red"></div>
		<div id="26" class="player enemy green"></div>
		<div id="27" class="player enemy purple"></div>
		<div id="28" class="player enemy red"></div>
		<div id="29" class="player enemy green"></div>
		<div id="30" class="player enemy purple"></div>
		<div id="31" class="player enemy red"></div>
		<div id="32" class="player enemy red"></div>
		<div id="33" class="player enemy green"></div>
		<div id="34" class="player enemy purple"></div>
		<div id="35" class="player enemy red"></div>
		<div id="36" class="player enemy green"></div>
		<div id="37" class="player enemy purple"></div>
		<div id="38" class="player enemy red"></div>
		<div id="39" class="player enemy green"></div>
		<div id="40" class="player enemy purple"></div>
		<div id="41" class="player enemy red"></div>
		<div id="42" class="player enemy green"></div>
		<div id="43" class="player enemy purple"></div>
		<div id="44" class="player enemy red"></div>
		<div id="45" class="player enemy green"></div>
		<div id="46" class="player enemy purple"></div>
		<div id="47" class="player enemy red"></div>
		<div id="48" class="player enemy green"></div>
		<div id="49" class="player enemy purple"></div>
		<div id="50" class="player enemy red"></div>
		<div id="51" class="player enemy green"></div>
		<div id="52" class="player enemy purple"></div>
		<div id="53" class="player enemy red"></div>
		<div id="54" class="player enemy green"></div>
		<div id="55" class="player enemy purple"></div>
		<div id="56" class="player enemy red"></div>
		<div id="57" class="player enemy green"></div>
		<div id="58" class="player enemy purple"></div>
		<div id="59" class="player enemy red"></div>
		<div id="60" class="player enemy green"></div>
		<div id="61" class="player enemy purple"></div>
		<div id="62" class="player enemy red"></div>
		<div id="63" class="player enemy green"></div>
		<div id="64" class="player enemy purple"></div>
		<div id="65" class="player enemy red"></div>
		<div id="66" class="player enemy green"></div>
		<div id="67" class="player enemy purple"></div>
		<div id="68" class="player enemy red"></div>
		<div id="69" class="player enemy green"></div>
		<div id="70" class="player enemy purple"></div>
		<div id="71" class="player enemy red"></div>
		<div id="72" class="player enemy green"></div>
		<div id="73" class="player enemy purple"></div>
		<div id="74" class="player enemy red"></div>
		<div id="75" class="player enemy green"></div>
		<div id="76" class="player enemy purple"></div>
		<div id="77" class="player enemy red"></div>
		<div id="78" class="player enemy green"></div>
		<div id="79" class="player enemy purple"></div>
		<div id="80" class="player enemy red"></div>
		<div id="81" class="player enemy green"></div>
		<div id="82" class="player enemy purple"></div>
		<div id="83" class="player enemy red"></div>
		<div id="84" class="player enemy green"></div>
		<div id="85" class="player enemy purple"></div>
		<div id="86" class="player enemy red"></div>
		<div id="87" class="player enemy green"></div>
		<div id="88" class="player enemy purple"></div>
		<div id="89" class="player enemy red"></div>
		<div id="90" class="player enemy green"></div>
		<div id="91" class="player enemy purple"></div>
		<div id="92" class="player enemy red"></div>
		<div id="93" class="player enemy green"></div>
		<div id="94" class="player enemy purple"></div>
		<div id="95" class="player enemy red"></div>
		<div id="96" class="player enemy green"></div>
		<div id="97" class="player enemy purple"></div>
		<div id="98" class="player enemy red"></div>
		<div id="99" class="player enemy green"></div>
		<div id="100" class="player enemy purple"></div>
	</div>
</body>
<script src="jquery/dist/jquery.js"></script>
<script src="timecircles/inc/TimeCircles.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
</html> 
