<!doctype html>
<html>

<head>
	<!--[if lt IE 9]>
	    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="timecircles/inc/TimeCircles.css">
	<link rel="stylesheet" href="main.css">
	<title>Cusor Game</title>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="finished" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Game Over</h4>
			</div>
				<div id="modal-body" class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Log Out</button>
				<button type="button" class="btn btn-primary">New Game!</button>
			</div>
		</div>
	</div>
</div>
	<div id="game_board">
		<div class="game_timer_cont">
			<h3>Time Remaining</h1>
			<div class="game_timer" data-timer="30"></div>		
		</div>

		<div id="0" class="player"></div>
		<div id="1" class="player"></div>
		<div id="2" class="player"></div>
		<div id="3" class="player"></div>
		<div id="4" class="player"></div>
		<div id="5" class="player"></div>
		<div id="6" class="player"></div>
		<div id="7" class="player"></div>
		<div id="8" class="player"></div>
		<div id="9" class="player"></div>
		<div id="10" class="player"></div>
		<div id="11" class="player"></div>
		<div id="12" class="player"></div>
		<div id="13" class="player"></div>
		<div id="14" class="player"></div>
		<div id="15" class="player"></div>
		<div id="16" class="player"></div>
		<div id="17" class="player"></div>
		<div id="18" class="player"></div>
		<div id="19" class="player"></div>
		<div id="20" class="player"></div>
		<div id="21" class="player"></div>
		<div id="22" class="player"></div>
		<div id="23" class="player"></div>
		<div id="24" class="player"></div>
		<div id="25" class="player"></div>
		<div id="26" class="player"></div>
		<div id="27" class="player"></div>
		<div id="28" class="player"></div>
		<div id="29" class="player"></div>
		<div id="30" class="player"></div>
		<div id="31" class="player"></div>
		<div id="32" class="player"></div>
		<div id="33" class="player"></div>
		<div id="34" class="player"></div>
		<div id="35" class="player"></div>
		<div id="36" class="player"></div>
		<div id="37" class="player"></div>
		<div id="38" class="player"></div>
		<div id="39" class="player"></div>
		<div id="40" class="player"></div>
		<div id="41" class="player"></div>
		<div id="42" class="player"></div>
		<div id="43" class="player"></div>
		<div id="44" class="player"></div>
		<div id="45" class="player"></div>
		<div id="46" class="player"></div>
		<div id="47" class="player"></div>
		<div id="48" class="player"></div>
		<div id="49" class="player"></div>
		<div id="50" class="player"></div>
		<div id="51" class="player"></div>
		<div id="52" class="player"></div>
		<div id="53" class="player"></div>
		<div id="54" class="player"></div>
		<div id="55" class="player"></div>
		<div id="56" class="player"></div>
		<div id="57" class="player"></div>
		<div id="58" class="player"></div>
		<div id="59" class="player"></div>
		<div id="60" class="player"></div>
		<div id="61" class="player"></div>
		<div id="62" class="player"></div>
		<div id="63" class="player"></div>
		<div id="64" class="player"></div>
		<div id="65" class="player"></div>
		<div id="66" class="player"></div>
		<div id="67" class="player"></div>
		<div id="68" class="player"></div>
		<div id="69" class="player"></div>
		<div id="70" class="player"></div>
		<div id="71" class="player"></div>
		<div id="72" class="player"></div>
		<div id="73" class="player"></div>
		<div id="74" class="player"></div>
		<div id="75" class="player"></div>
		<div id="76" class="player"></div>
		<div id="77" class="player"></div>
		<div id="78" class="player"></div>
		<div id="79" class="player"></div>
		<div id="80" class="player"></div>
		<div id="81" class="player"></div>
		<div id="82" class="player"></div>
		<div id="83" class="player"></div>
		<div id="84" class="player"></div>
		<div id="85" class="player"></div>
		<div id="86" class="player"></div>
		<div id="87" class="player"></div>
		<div id="88" class="player"></div>
		<div id="89" class="player"></div>
		<div id="90" class="player"></div>
		<div id="91" class="player"></div>
		<div id="92" class="player"></div>
		<div id="93" class="player"></div>
		<div id="94" class="player"></div>
		<div id="95" class="player"></div>
		<div id="96" class="player"></div>
		<div id="97" class="player"></div>
		<div id="98" class="player"></div>
		<div id="99" class="player"></div>
		<div id="100" class="player"></div>
	</div>
</body>
<script src="jquery/dist/jquery.js"></script>
<script src="timecircles/inc/TimeCircles.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
</html> 
