html,body
{
	height: 100%;

}
.center_float
{
	width: 500px;
	margin: 10% auto;
}
.center_float .help-block
{
	margin: 10px 0;
}
#register
{
	display: none;
}
#submit_login, #submit_register
{
	/*margin-top:10px;*/
}
.alert
{
	display: none;
	margin-top: 15px;
	color:#A94442;
}
.has-error
{
	border:2px solid #A94442;
	border-radius: 3px;
	moz-border-radius: 3px;
}
.has-success
{
	border-color: #3C763D !important;
}
.close
{
	color:#A94442;
}
#game_board
{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.player
{
	position: absolute;
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	background-color: red;
	display: none;
	z-index: 200;
}
#score
{
	text-align: center;
	font-size: 30px;
}
.hide_player
{
	height: 0px;
}
.visible
{
	display: block;
}
.game_timer_cont
{
	position: absolute;
	top:6px;
	left:4px;
	width:200px;
	border: 2px solid #343434;
	border-radius: 12px;
}
.game_timer_cont h3
{
	text-align: center;
	margin: 5px 0 0 0;
}
.game_timer
{
	width: 200px;
	height: 100px;
}